@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}



header{
    display: flex;
    background-color: #AC94D4;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

header .logo{
    position: relative;
    left: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    position: relative;
    right: 120px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.bugger{
    margin-right: 20px;
    display: none;
}

.toggle-item{
    height: 3px;
    width: 30px;
    background-color: white;
    margin-bottom: 5px;
    
}

/* hero section */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.hero .play {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero div h1{
    font-size: 50px;
}

.hero .play p{
    font-size: 30px;
    margin-top: 20px;
}

.sec-third-price{
    display: flex;
    gap: 500px;
}

.sec-third-price{
    font-size: 30px;
    margin-top: 50px;
}

.hero .hero-button{
    margin-top: 100px;
}
.hero .hero-button a{
    text-decoration: none;
    color: white;
   background-color: #38C558;
    padding: 13px 18px;
    border-radius: 30px;
    font-size: 25px;
}

/* about section */

.about{
    display: flex;
}
.about .about-img{
    padding: 0 40px 40px;
}
.about-txt{
    max-width: 600px;
}

.about .about-txt h2{
    font-size: 40px;
    color: #3B3486;
    line-height: 50px;
    /* max-width: 450px; */
    text-align-last: center;
}
.about .about-txt h3{
    font-size: 20px;
    line-height: 30px;
    color: #3B3486;
}

.about .about-txt h4{
    color: #3B3486;
    line-height: 40px;
}

.about .about-txt p{
    line-height: 25px;
    word-spacing: .2rem;
}


/* games section */

.game-container{
    height: 100vh;
    /* background-color: #38C558; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
    position: relative;
}

.game-container .head-game{
    position: absolute;
    top: 0;
    margin-top: 70px;
    color: white;
    z-index: 3;
    
}

.game-container::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(to bottom, #ffffff, #d9d6e8, #b4aed2, #9087bb, #6d62a4, #6d62a4, #6d62a4, #6d62a4, #9087bb, #b4aed2, #d9d6e8, #ffffff);
    opacity: 0.7;
    z-index: 1;
    top: -30%;
    left: 0;

}

.games .game-card{
    height: 170px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-left: 40px; */
    margin-right: 50px;
}
.games .game-card img{
   /* height: 100px; */
   position: absolute;
   top: -50px;
}
.games .card-1{
    background-color: #F27B7B;
    z-index: 3;
}
.games .card-2{
    background-color: #EF32D9;
    z-index: 3;
}
.games .card-3{
    background-color: #C1B7FF;
    z-index: 3;
}
.games .card-4{
    background-color: #FFBD80;
    z-index: 3;
}
.games .card-5{
    background-color: #8FC7FF;
    z-index: 3;
}

.games .game-card div{
    margin-top: 50px;
}
.games .game-card div h3{
    color: white;
    font-size: 23px;
    text-transform: uppercase;
}


/* umpire section */

.umpire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 50px 0 50px;
    overflow-x: hidden;
}

.umpire .ump-text{
    font-size: 20px;
    margin-bottom: 50px;
}

.umpire .ump-img{
    display: flex;

}
.umpire .ump-img .ump-img1{
    margin-left: 50px;
}
.umpire .ump-img .ump-img2{
    margin-right: 50px;
}

/* zonal  */

.zonal{
    height: 150vh;
    background-image: url(./images/zonal-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 150vh;
    background-position: center;
}

.zumpire-info{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.zumpire-info h2{
    color: white;
    font-size: 30px;
    margin-bottom: 70px;
    font-weight: bold;
    margin-top: 50px;
}

.zumpire{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin-top: 50px;
}

.zonal .zumpire-card{
    background-image: linear-gradient(to right, #89fffd, #00e7ff, #00c4ff, #9491ff, #ef32d9);
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 16px;
}

.zonal .zumpire-card img{
    height: 120px;
    position: absolute;
    top: -60px;
    left: -30px;
    /* border: 2px solid #F17272; */
}
.zonal .zumpire-card div{
    position: absolute;
    top: 40%;
    left: 40%;
    
}
.zonal .zumpire-card div h3{
    color: white;
}


/* slider section */

.slide-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-head h2{
    margin-top: 170px;
    color: white;
    font-size: 30px;
}

.swiper{
    width: 100%;
    color: white;
}
.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper .card{
    width: 20em;
    height: 100%;
    background-color: #642E8E;
    border-radius: 1em;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}
.card-image{
    width: 150px;
    height: 150px;
}

.card-image img{
    height: 100%;
    width: 100%;
}
.card-content p{
    font-size: 15px;
    line-height: 30px;
}

.card-content h3{
    line-height: 40px;
}


/* second carousel */

.slider-faq{
    height: 130vh;
    background-image: url(./images/faq-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 150vh;
    background-position: center;
    /* padding: 100px; */
}

.swiper-wrapper2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
}

.swiper .card2{
    width: 25rem !important;
    height: 100%;
    background-color: #642E8E;
    border-radius: 1em;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
    margin-bottom: 20px;
}
.mySwiper2{
    position: relative;
    margin: 100px;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev{
    position: absolute;
    top: 100%;
    left: 50px;
    background-color: #3B3486;
    border-radius: 50%;
}
.swiper .swiper-scrollbar{
    width: 80%;
    margin: 0 200px 0 100px;
}



.reg-sec{
    height: 70vh;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.reg-sec .reg-image1{
    position: absolute;
    top: 20%;
    right: 500px;
}
.reg-sec .reg-image2{
    position: absolute;
    top: 20%;
    right: 500px;
}


/* accordion */

.faq{
    text-align: center;
    
}

.faq h2{
    font-size: 30px;
    color: #3B3486;
}

#accordion{
    margin: 100px auto;
    max-width: 70%;
}

#accordion .contentBx{
    position: relative;
   /* width: 100%; */
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

#accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

#accordion .contentBx .label::before{
    content: '\005E';
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 600;
}
#accordion .contentBx.active .label::before{
    content: '\005E';
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%) rotate(180deg);
    font-size: 1.5rem;
    font-weight: 600;
}
#accordion .contentBx .content{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

#accordion .contentBx.active .content{
    height: auto;
    padding: 20px;
    border-radius: 20px;
}
/* #accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    font-weight: 600;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .faq-content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 30px;
}

#accordion label + input[type="radio"]:checked + .faq-content{
    max-height: 400px;
    background-color: #3B3486;
    padding: 20px;
    color: white;
} */

.falling-money{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* footer */

.footer{
    height: auto;
    width: 100%;
    background-color: #3B3486;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}
.footer .socials {
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer .socials img{
    margin: 20px 50px;
}
.down-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    color: white;
}

@media (max-width: 820px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    /* header */
    header{
        display: flex;
        background-color: #AC94D4;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        width: 100%;
    }
    
    header .logo{
        position: relative;
        left: 50px;
        height: 8vh;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        position: relative;
        right: 120px;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 40vh;
        background-color: #AC94D4;
        top: 11vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ;
    }
    .nav-links li{
        opacity: 0;
    }
    
    nav ul li a{
        color: white;
        text-decoration: none;
        font-size: large;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
    }
    .bugger{
        margin-right: 20px;
        display: block;
    }
    
    .toggle-item{
        height: 2px;
        width: 30px;
        background-color: white;
        margin-bottom: 5px;
        
    }

    /* hero responsiveness */
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    
    .hero .play {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .hero div h1{
        font-size: 43px;
        max-width: 250px;
        text-align: center;
    }
    
    .hero .play p{
        font-size: 20px;
        margin-top: 20px;
    }
    
    .sec-third-price{
        display: flex;
        gap: 50px;
    }
    
    .sec-third-price{
        font-size: 20px;
        margin-top: 50px;
    }
    
    .hero .hero-button{
        margin-top: 100px;
    }
    .hero .hero-button a{
        text-decoration: none;
        color: white;
       background-color: #38C558;
        padding: 10px 12px;
        border-radius: 30px;
        font-size: 25px;
    }
    /* about media */
    .about{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        margin-top: -50px;
    }
    .about .about-img{
        padding: 0 40px 40px;
    }
    .about .about-img img{
        height: 300px;
        margin-top: 20px;
    }
    .about-txt{
        max-width: 400px;
    }
    
    .about .about-txt h2{
        font-size: 20px;
        color: #3B3486;
        line-height: 50px;
        /* max-width: 450px; */
        text-align-last: left;
    }
    .about .about-txt h3{
        font-size: 18px;
        line-height: 30px;
        color: #3B3486;
    }
    
    .about .about-txt h4{
        color: #3B3486;
        line-height: 40px;
    }
    
    .about .about-txt p{
        line-height: 25px;
        word-spacing: 0;
        font-size: 12px;
        /* white-space: wrap;  */
        height: 200px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    /* game */
    .game-container{
        height: 100vh;
        /* background-color: #38C558; */
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 50px;
        flex-wrap: wrap;
        position: relative;
    }
    
    .game-container::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 130vh;
        background-color: black;
        opacity: 0.7;
        z-index: 1;
        top: -30%;
        left: 0;
    
    }
    
    .games .game-card{
        height: 170px;
        width: 300px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        /* margin-left: 40px; */
        margin-right: 50px;
    }
    .games .game-card img{
       /* height: 100px; */
       position: absolute;
       top: -50px;
    }
    .games .card-1{
        background-color: #F27B7B;
        z-index: 3;
    }
    .games .card-2{
        background-color: #EF32D9;
        z-index: 3;
    }
    .games .card-3{
        background-color: #C1B7FF;
        z-index: 3;
    }
    .games .card-4{
        background-color: #FFBD80;
        z-index: 3;
    }
    .games .card-5{
        background-color: #8FC7FF;
        z-index: 3;
    }
    
    .games .game-card div{
        margin-top: 50px;
    }
    .games .game-card div h3{
        color: white;
        font-size: 23px;
        text-transform: uppercase;
    }
    
    
    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinksFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,4px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}